# Laravel
.env
.env.*
/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.idea/
.vscode/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
composer.phar
/public/hot
/public/mix-manifest.json
/public/js/app.js
/public/css/app.css
/public/js/*.js
/public/css/*.css
/public/build/
